:root {
  --white-color: #ffffff;
  --main-text-color: #212121;
  --primary-color: #757575;
  --minority-color: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --activecolor: #2196f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

/* header */

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--activecolor);
}

.logo-header {
  color: #000;
}

.logo-footer {
  color: var(--white-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 21px;
  padding-bottom: 21px;
}

.current {
  color: var(--activecolor);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-list-header li + li {
  margin-left: 50px;
}

.contact-list-header {
  display: flex;
  margin-left: auto;
}

.icon {
  fill: currentColor;
}

/* main */

.main-nav {
  display: flex;
  align-items: center;
}

.main {
  background-color: var(--background-dark);
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 200px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main-button {
  display: block;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: #2196f3;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

/* features */

.occupation {
  padding-top: 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto 30px auto;
}

.secondary-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.sub-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.feature-box {
  background-color: #f5f4fa;
  width: 270px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
}

/* occupation */

.occupation-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.occupation-list {
  display: flex;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--background-light);
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding: 30px 0;
}

.team-surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-icon {
  fill: blueviolet;
}

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* clients */

.client-title {
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.clients-item {
  padding: 16px 32px;
}

/* footer */

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-adress li:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  color: var(--white-color);
}

.footer-contacts {
  color: var(--minority-color);
}

.footer {
  background-color: var(--background-dark);
  padding: 60px 0;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.footer-adress:hover,
.footer-adress:focus,
.adress-link:hover,
.adress-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--activecolor);
}

/* portfolio */

.portfolio-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.current-button {
  color: var(--white-color);
  background-color: #188ce8;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.product-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.product-description {
  font-size: 16px;
  line-height: 1.88;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.flex-element:focus,
.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-child(-n - 3) {
  margin-bottom: 0;
}

/* icons */
